.canvas {
  border: 1px solid black;
}

.controls {
  border: 1px solid black;
  height: 50px;
  width: 600px;
  max-width: 602px;
  padding: 1px;
  flex-direction: "row";
}

.colorSelector {
  margin: 2px;
  height: 20px;
  width: 20px;
}
