<h1>Twenty Questions</h1>

<%= react_component("Greeting", { userName: @user.name }) %>

You're in group: <%= @group.key %>

<% if @user == @group.host %>
  <%= link_to "Leave activity", leave_activity_path, method: :delete %>
<% end %>

<br>

<%= link_to "Leave group", leave_group_path, method: :delete %>
